<?xml version="1.0"?>

  <configuration>
    <connectionStrings>
      <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
      <add connectionString="Server=1.1.1.1;Database=YOURDB;User ID=YOURID;Password=PWORD" name="ConnStringDb1" providerName="System.Data.SqlClient" />
      <add connectionString="Server=1.1.1.1;Database=YOURDB;User ID=YOURID;Password=PWORD"  name="ConnStringDb1_" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
      <add key="servername" value="1.1.1.1"/>
      <add key="databasename" value="YOURDB"/>
      <add key="userid" value="YOURID"/>
      <add key="password" value="PWORD"/>
      <add key="databasename1" value="YOURDB"/>
      <!--<add key="load_report" value="E:\SOA\reports_soa\AccountStatement_DWH_PF_Portrait_Email_New_Daily.rpt"/>-->
      <!--<add key="load_report" value="C:\SOA\AccountStatement_DWH_PF_Portrait_Email_New_Daily.rpt"/>-->
      
      <!--<add key="load_report" value="C:\SOA\AccountStatement_DWH_PF_Portrait_Email_New_Daily.rpt"/>-->

      <!--<add key="load_report" value="E:\project_completed\Live_soa_Daily\soa\Report\AccountStatement_DWH_PF_Portrait_Email_New_Daily.rpt"/>-->
    
      <add key="load_report" value="X:\T24 BulkPrinting\soa\Report\AccountStatement_DWH_PF_Portrait_Email_New_Daily.rpt"/>
      <add key="load_report_MRAF" value="X:\T24 BulkPrinting\soa\Report\AccountStatement_DWH_PF_Portrait_Email_New_Daily_MRAF.rpt"/>
      <add key="load_report_CGT_REFUND" value="X:\T24 BulkPrinting\soa\Report\UINCertificate_Refund_Email.rpt"/>
      
      
      
      <!--<add key="load_report_1" value="E:\SOA\reports_soa\AccountStatement_DWH_PF_Portrait_Email_New_Daily_2.rpt"/>
      <add key="load_report_2" value="E:\SOA\reports_soa\AccountStatement_DWH_PF_Portrait_Email_New_Daily_3.rpt"/>
      <add key="load_report_3" value="E:\SOA\reports_soa\AccountStatement_DWH_PF_Portrait_Email_New_Daily_4.rpt"/>
      <add key="load_report_4" value="E:\SOA\reports_soa\AccountStatement_DWH_PF_Portrait_Email_New_Daily_5.rpt"/>
      <add key="load_report_5" value="E:\SOA\reports_soa\AccountStatement_DWH_PF_Portrait_Email_New_Daily_6.rpt"/>-->
      <!--<add key="load_report_letter" value="E:\SOA\reports_soa\InvestmentAcknowLetter_Copy.rpt"/>-->
      <!--<add key="load_report_letter" value="C:\SOA\InvestmentAcknowLetter_Copy.rpt"/>-->

      <!--<add key="load_report_letter" value="C:\SOA\InvestmentAcknowLetter_Copy.rpt"/>-->
      <add key="load_report_letter" value="X:\T24 BulkPrinting\soa\Report\InvestmentAcknowLetter_Copy.rpt"/>

      <!--<add key="load_report_letter" value="E:\project_completed\Live_soa_Daily\soa\Report\InvestmentAcknowLetter_Copy.rpt"/>-->
      
    </appSettings>

<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
  </configuration>
